//- À MODIFIER
-var titre = "Penny Dreadful - Séquence d'ouverture" // TITRE
-var titreShort = "PennyDredfulOpening" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "assets/img/motion/pennydreadful_thumbnail.jpg" // MINIATURE
-var videoLink = "https://player.vimeo.com/video/341528622"

//- NE RIEN TOUCHER
div.col-md-6.col-lg-4.thumbnail
  div.text-center
    p(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid(src=thumbnail)
      p.text-center.text-light= titre

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") x
      div.modal-body
        div.embed-responsive.embed-responsive-16by9
          iframe(src=videoLink frameborder="0" allowfullscreen)

        //- À MODIFIER (CONTENU DE LA PAGE)
  
        ul.list-unstyled
          li Générique d'ouverture de Penny Dreadful revisité
          li Charlie Delahousse
          li Charlie Josserand
          li Stéphane Labrousse
        ul.list-unstyled
          li Musique proposée par La Musique Libre
          li
            a(href="https://youtu.be/0mww3iFKYEw") HolFix - Lonely Piano
          li
            a(href="https://soundcloud.com/holfix") HolFix
